<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

   <p>
    Splurty was built by <a target="_blank" href="http://github.com/adityabpiya">Aditya</a>. A web developer who is on a mission to give people the technical skills needed to launch their own MVPs and turn ideas into reality.
  </p>
  <br />
  
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'flydog.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center"><a target="_blank" href="https://adityabhasupiya.netlify.com/">Aditya Bhasu Piya</a></h2>
      <br />
      <p>
        Aditya Bhasu Piya is web developer and Ruby on Rails contributor. Previously was an autonomous vehicle trainer. He tested and collected data from the drives of the autonomous vehicle. Prior to that he was a sales advisor in a fitness company and held the title of "Biggest Hustler of 2018"
      </p>
    </div>
  </div>
  <br class="clear" />

   

<br class="clear" />
<br />
<br />
<br />
<br />